extends ./layout.jade
block contenido
    div(class="text-center big-top-space")
        h1 Trabajo Práctico Arquitectura WEB 2018
        h2 Proyecto Organizador de Torneos de Golf 
        h2 Universidad de Palermo
        p
        p Integrantes
        p 101760 - Sergio Dominguez - sergiocdominguez@gmail.com
        p 090552 - Ignacio Lizarraga - nacho_95_@hotmail.com
          