doctype html
html(lang="es")
    head
        title Arquitectura WEB - TP UP
        meta(charset="utf-8")
        meta(name="viewport")(content="width=device-width,initial-scale=1")
        link(href="/public/css/app.css" rel="stylesheet")
        link(href="/public/css/bootstrap.min.css" rel="stylesheet")
    body
        nav(class="large-padding darkgreen white-text")
            ul
                li
                    a(href="/") Inicio
                li
                    a(href="/api/usuarios") Jugadores
                li
                    a(href="/api/campos") Campos
                li
                    a(href="/api/lineas") Lineas
                li
                    a(href="/api/torneos") Torneos
                li
                    a(href="/api/horarios") Horarios
        block contenido
